<div class="modal slide-in-up" ng-controller="AdvocateDetailController">
   <header class="bar bar-header bar-secondary">
      <h1 class="title">Ask {{advocate.name}}</h1>
      <button class="button button-clear button-positive" ng-click="close()">Close</button>
   </header>
   <ion-content class="has-header padding" has-tabs="true">
     <img ng-src="{{advocate.face}}" class="profileImage">
     <h2>{{advocate.name}}</h2>
     <h4>${{advocate.price}}</h4>
     <p>{{advocate.intro}}</p>
     <textarea placeholder="Message" ng-model="questionData.item" ng-trim="false" maxlength="550" id="field"></textarea>
     <span>{{550 - questionData.item.length}} characters left</span>
     <br>
     <br>
     <br>
     <button class="button button-positive" ng-click="payAndAsk()">Pay and Ask</button>
   </ion-content>
</div>
